<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>

<channel>
<name>[B]TÍTULOS[/B]</name>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Títulos.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>Aqui você pode encontrar séries, animes, novelas e muito mais</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/S%C3%A9ries/Todos.xml</externallink>
</channel>

  
</channels>
