<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>
  
<channel>
<name>[B]TV AO VIVO[/B]</name>
<thumbnail>plugin://plugin.video.anonimo\resources\media\icons\TV ao Vivo.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart> 
<info>DIVIRTA-SE ASSISTINDO AS MELHORES SÉRIES, ANIMES AQUI NO ANÔNIMO</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/TV.xml</externallink>
</channel>

<channel>
<name>[B]FILMES[/B]</name>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Filmes.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<genre>FILMES DE ANIMAÇÃO (100),  FILMES DE AÇÃO (261), FILMES DE COMÉDIA (116), FILMES DE DRAMA (89) FILMES DE ROMANCE (76)</genre>
<info>DIVIRTA-SE ASSISTINDO MELHORES FILMES COM LINK DIRETO</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/Filmes/menu.xml</externallink>
</channel>

<channel>
<name>[B]SÉRIES[/B]</name>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Séries.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>DIVIRTA-SE ASSISTINDO AS MELHORES SÉRIES, ANIMES AQUI NO ANÔNIMO</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/S%C3%A9ries/menu.xml</externallink>
</channel>

</channels>
