<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>

<channel>
<name>A Feia Mais Bela</name>
<year>2006</year>
<genre>Drama, Mistério, Soap, Crime</genre>
<info>Rita é abandonada no lixão pela madrasta após seu pai morrer. Anos depois e sob nova identidade, a menina se infiltra na mansão da nova família de Carminha para se vingar dela.</info>
<thumbnail>https://image.tmdb.org/t/p/original/wYXtjVwKaPE0FqzQbsUElgtONBq.jpg</thumbnail>
<fanart>https://image.tmdb.org/t/p/original/cvHNEZqPguUT97MjwNpsRbtRTDp.jpg</fanart>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/S%C3%A9ries/Novelas/Avenida%20Brasil%20(2012).xml</externallink>
</channel>

  
</channels>
