<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>

<channel>
<name>Avenida Brasil</name>
<year>2012</year>
<info>Rita é abandonada no lixão pela madrasta após seu pai morrer. Anos depois e sob nova identidade, a menina se infiltra na mansão da nova família de Carminha para se vingar dela.</info>
<thumbnail>https://image.tmdb.org/t/p/original/p8uzK1Lngu9q9dpnn4SwPKIT1H7.jpg</thumbnail>
<fanart>https://image.tmdb.org/t/p/original/5ssgDp28z1Nif6hR8OFrNQUspd4.jpg</fanart>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/S%C3%A9ries/lan%C3%A7amentos.xml</externallink>
</channel>

  
</channels>
