<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>

<channel>
<name>[B]TEMPORADA 1 (2019)[/B]</name>
<thumbnail>https://image.tmdb.org/t/p/original/3PhOp6IH74m1Np7P8UVwdsQgRnn.jpg</thumbnail>
<fanart>https://image.tmdb.org/t/p/original/n6vVs6z8obNbExdD3QHTr4Utu1Z.jpg</fanart>
<info>THE BOYS é uma visão irreverente do que acontece quando super-heróis, que são tão populares quanto celebridades, tão influentes quanto políticos e tão reverenciados como Deuses, abusam de seus superpoderes ao invés de usá-los para o bem. É o sem poder contra o superpoder, quando os rapazes embarcam em uma jornada heroica para expor a verdade sobre "Os Sete" com o apoio da Vought.</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/S%C3%A9ries/S%C3%A9ries/Round%206%20(2021)/Temporada%201%20(2021).xml</externallink>
</channel>

  
</channels>
