<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>

<channel>
<name>[B]NACIONAIS[/B]</name>
<genre>FILMES (120)</genre>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\nacionais.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>Melhores filmes nacionais você encontra aqui no anônimo via link direto, Caso seus filmes favorito não esteja nessa lista por favor solicite suas sugestões no nosso site, E veremos a possibilidade do seu filme favorito ser adicionado</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/Filmes/Tags/Nacionais.xml</externallink>
</channel>

  
</channels>
