<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>

<channel>
<name>[B]FILMES: NACIONAIS[/B]</name>
<genre>FILMES (120)</genre>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\nacionais.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>Melhores filmes nacionais você encontra aqui no anônimo via link direto, Caso seus filmes favorito não esteja nessa lista por favor solicite suas sugestões no nosso site, E veremos a possibilidade do seu filme favoritos ser adicionado.</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/Filmes/Tags/Nacionais.xml</externallink>
</channel>

<channel>
<name>[B]FILMES: GOSPEL[/B]</name>
<genre>FILMES (120)</genre>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Gospel.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>Melhores filmes gospel você encontra aqui no anônimo via link direto, Caso seus filmes favorito não esteja nessa lista por favor solicite suas sugestões no nosso site, E veremos a possibilidade do seu filme favoritos ser adicionado.</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/Filmes/Tags/Nacionais.xml</externallink>
</channel>

<channel>
<name>[B]FILMES: LUTA[/B]</name>
<genre>FILMES (120)</genre> 
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Luta.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>Melhores filmes de luta você encontra aqui no anônimo via link direto, Caso seus filmes favorito não esteja nessa lista por favor solicite suas sugestões no nosso site, E veremos a possibilidade do seu filme favoritos ser adicionado.</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/Filmes/Tags/Nacionais.xml</externallink>
</channel>

<channel>
<name>[B]FILMES: SUPER-HERÓIS[/B]</name>
<genre>FILMES (120)</genre>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Super herois.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>Melhores filmes de super-heróis você encontra aqui no anônimo via link direto, Caso seus filmes favorito não esteja nessa lista por favor solicite suas sugestões no nosso site, E veremos a possibilidade do seu filme favoritos ser adicionado.</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/Filmes/Tags/Nacionais.xml</externallink>
</channel>

<channel>
<name>[B]ZUMBI[/B]</name>
<genre>FILMES (120)</genre>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Zumbi.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>Melhores filmes de super-heróis você encontra aqui no anônimo via link direto, Caso seus filmes favorito não esteja nessa lista por favor solicite suas sugestões no nosso site, E veremos a possibilidade do seu filme favoritos ser adicionado.</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/Filmes/Tags/Nacionais.xml</externallink>
</channel>

<channel>
<name>[B]FILMES: KIDS[/B]</name>
<genre>FILMES (120)</genre>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Kids.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>Melhores filmes kidis você encontra aqui no anônimo via link direto, Caso seus filmes favorito não esteja nessa lista por favor solicite suas sugestões no nosso site, E veremos a possibilidade do seu filme favoritos ser adicionado.</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/Filmes/Tags/KIDIS.xml</externallink>
</channel>

  
</channels>
