<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>

<channel>
<name>[B]FILMES 4K[/B]</name>
<genre>FILMES (120)</genre>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\Filmes 4k.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>DIVIRTA-SE ASSISTINDO MELHORES CANAIS COM LINK DIRETO</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/Filmes/Tags/Filmes%204k.xml</externallink>
</channel>


<channel>
<name>[B]NACIONAIS 4K[/B]</name>
<genre>FILMES (120)</genre>
<thumbnail>special://home/addons/plugin.video.anonimo\resources\media\icons\nacionais.png</thumbnail>
<fanart>special://home/addons/plugin.video.anonimo\fanart.jpg</fanart>
<info>DIVIRTA-SE ASSISTINDO MELHORES CANAIS COM LINK DIRETO</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/Filmes/Tags/Filmes%204k.xml</externallink>
</channel>

  
</channels>
