<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>

<channel>
<name>[B]Temporada 1 (2021)[/B]</name>
<thumbnail>https://image.tmdb.org/t/p/original/pP3r5QUbTR5HyagEDmf52JAO7Vv.jpg</thumbnail>
<fanart>https://image.tmdb.org/t/p/original/dfmPbyeZZSz3bekeESvMJaH91gS.jpg</fanart>
<info>Baseado em "Killing Floor" Quando o policial militar aposentado Jack Reacher é preso por um assassinato que não cometeu, ele se vê no meio de uma conspiração mortal cheia de policiais sujos, empresários duvidosos e políticos intrigantes. Com nada além de sua inteligência, ele deve descobrir o que está acontecendo em Margrave, na Geórgia.</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/S%C3%A9ries/S%C3%A9ries/Reacher%20(2022)/Temporada%201%20(2022).xml</externallink>
<info>Quando Mark Grayson herda superpoderes ao completar 17 anos, ele se une a seu pai como um dos maiores heróis da Terra. Todos os seus sonhos se tornam realidade - até que um evento chocante muda tudo.</info>
</channel>


<channel>
<name>[B]Temporada 2 (2023)[/B]</name>
<thumbnail>https://image.tmdb.org/t/p/original/uZaLC2IxPgGI68m2W0eva8pPvaI.jpg</thumbnail>
<fanart>https://image.tmdb.org/t/p/original/dfmPbyeZZSz3bekeESvMJaH91gS.jpg</fanart>
<info>Baseado em "Má sorte e problemas" quando membros da antiga unidade militar de Reacher começam a aparecer mortos, Reacher só tem uma coisa em mente: vingança.</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/S%C3%A9ries/S%C3%A9ries/Reacher%20(2022)/Temporada%202%20(2023).xml</externallink>
<info>Após uma traição devastadora, Mark luta para reconstruir sua vida. Diante de ameaças apocalípticas ele descobre novos aliados e enfrenta seu maior medo - a possibilidade de se tornar igual ao seu pai.</info>
</channel>


<channel>
<name>[B]Temporada 3 (2025)[/B]</name>
<thumbnail>https://image.tmdb.org/t/p/original/xW34b4JjSTocmhROnsjwhamczxs.jpg</thumbnail>
<fanart>https://image.tmdb.org/t/p/original/dfmPbyeZZSz3bekeESvMJaH91gS.jpg</fanart>
<info>Baseado no romance "Acerto de Contas", de Lee Child, Reacher mergulha no coração sombrio de uma vasta organização criminosa enquanto tenta resgatar uma informante infiltrada da Narcóticos, cujo tempo está se esgotando. Lá, ele descobre um mundo de segredos e violência — e enfrenta assuntos pendentes de seu próprio passado.</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/S%C3%A9ries/S%C3%A9ries/Reacher%20(2022)/Temporada%203%20(2025).xml</externallink>
<info>Tudo muda quando Mark é obrigado a encarar seu passado e futuro, descobrindo quão longe ele vai ter de chegar para proteger quem ama.</info>
</channel>

  
</channels>
