<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>

<channel>
<name>Uma Família Perfeita</name>
<year>2025</year>
<genre>Drama</genre>
<thumbnail>https://image.tmdb.org/t/p/original/A8re5I0nzEfsDX82ka5Rljgd5do.jpg</thumbnail>
<fanart>https://image.tmdb.org/t/p/original/jkyjkLuKxKa2PXaTcPDfrBUHxi8.jpg</fanart>
<info>Contado sob vários pontos de vista, como meio de explorar questões de perspectiva, preconceito e trauma, este drama envolvente é inspirado nas histórias perturbadoras que cercam um casal do Centro-Oeste americano que adota uma menina com uma forma rara de nanismo. Mas, à medida que começam a criá-la ao lado de seus três filhos biológicos, o mistério surge em torno de sua idade e origem, e eles lentamente começam a suspeitar que ela pode não ser quem diz ser.</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/Biblioteca/S%C3%A9ries/Uma%20Fam%C3%ADlia%20Perfeita%20S01.xml</externallink>
</channel>

<channel>
<name>[B][/B]</name>
<year>2023</year>
<genre>Drama</genre>
<thumbnail></thumbnail>
<fanart></fanart>
<info></info>
<externallink>https://</externallink>
</channel>

<channel>
<name>[B][/B]</name>
<year>2023</year>
<genre>Drama</genre>
<thumbnail></thumbnail>
<fanart></fanart>
<info></info>
<externallink>https://</externallink>
</channel>

<channel>
<name>[B][/B]</name>
<year>2023</year>
<genre>Drama</genre>
<thumbnail></thumbnail>
<fanart></fanart>
<info></info>
<externallink>https://</externallink>
</channel>

<channel>
<name>[B][/B]</name>
<year>2023</year>
<genre>Drama</genre>
<thumbnail></thumbnail>
<fanart></fanart>
<info></info>
<externallink>https://</externallink>
</channel>

<channel>
<name>[B][/B]</name>
<year>2023</year>
<genre>Drama</genre>
<thumbnail></thumbnail>
<fanart></fanart>
<info></info>
<externallink>https://</externallink>
</channel>

<channel>
<name>[B][/B]</name>
<year>2023</year>
<genre>Drama</genre>
<thumbnail></thumbnail>
<fanart></fanart>
<info></info>
<externallink>https://</externallink>
</channel>

<channel>
<name>[B][/B]</name>
<year>2023</year>
<genre>Drama</genre>
<thumbnail></thumbnail>
<fanart></fanart>
<info></info>
<externallink>https://</externallink>
</channel>

<channel>
<name>[B][/B]</name>
<year>2023</year>
<genre>Drama</genre>
<thumbnail></thumbnail>
<fanart></fanart>
<info></info>
<externallink>https://</externallink>
</channel>

<channel>
<name>[B][/B]</name>
<year>2023</year>
<genre>Drama</genre>
<thumbnail></thumbnail>
<fanart></fanart>
<info></info>
<externallink>https://</externallink>
</channel>

<channel>
<name>[B][/B]</name>
<year>2023</year>
<genre>Drama</genre>
<thumbnail></thumbnail>
<fanart></fanart>
<info></info>
<externallink>https://</externallink>
</channel>

<channel>
<name>[B][/B]</name>
<year>2023</year>
<genre>Drama</genre>
<thumbnail></thumbnail>
<fanart></fanart>
<info></info>
<externallink>https://</externallink>
</channel>

<channel>
<name>[B][/B]</name>
<year>2023</year>
<genre>Drama</genre>
<thumbnail></thumbnail>
<fanart></fanart>
<info></info>
<externallink>https://</externallink>
</channel>



  
</channels>
