<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>

<channel>
<name>Temporada 2</name>
<thumbnail>https://image.tmdb.org/t/p/original/el1KQzwdIm17I3A6cYPfsVIWhfX.jpg</thumbnail>
<fanart>https://image.tmdb.org/t/p/original/7dowXHcFccjmxf0YZYxDFkfVq65.jpg</fanart>
<info>Cinco anos após os eventos da primeira temporada, Joel e Ellie se veem envolvidos em um conflito em um mundo ainda mais perigoso e imprevisível do que aquele que deixaram para trás.</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/Filmes/lancamento.xml</externallink>
</channel>

  
</channels>
