<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>

<channel>
<name>Solo Leveling Temporada 1</name>
<thumbnail>https://image.tmdb.org/t/p/original/iPHA4cylwTAR7tLuIrhfRlrue9l.jpg</thumbnail>
<fanart>https://image.tmdb.org/t/p/original/xMNH87maNLt9n2bMDYeI6db5VFm.jpg</fanart>
<info>Aqui você pode encontrar lançamentos de séries ou novas temporadas que estão disponíveis no anônimo</info>
<externallink>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/Filmes/lancamento.xml</externallink>
</channel>

  
</channels>
